*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.grid {
	display: grid;
}

:root {
	--color-primary: #f5efe6;
	--color-secondary: #e8dfca;
	--color-third: #aebdca;
	--color-highlight: hsl(210, 27%, 58%);
}

.px-1 {
	padding: 0 1.25rem;
}

.py-1 {
	padding: 1.5rem 0;
}

html {
	height: 100%;
}

header {
	justify-content: center;
	padding: 1rem;
}

body,
main,
.book-div {
	min-height: 100%;
}

body > * {
	padding-left: 12rem;
	padding-right: 12rem;
}

dialog {
	margin: auto;
}

#show-dialog {
	width: fit-content;
	align-self: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.25rem 0.75rem;
}

.book-div {
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(275px, max-content));
	justify-content: center;
}
